.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 600px;
}
.tile {
  width: 280px;
  height: 44px;
  border: 1px solid #000;
  margin-bottom: 12px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
